$badge-color: #6c757d;
$title-font: 'Source Sans Pro', Arial, sans-serif;
$text-secondary-color: #AFAFAF;

@mixin mt-mb-5px {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.scroll-x {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 5px;
  }
}

.detail__info {
  &-content {
    list-style-type: none;
    li {
      color: #eaeaea !important;
      font-size: 16px;
      display: flex;
      margin-bottom: 5px;
      p {
        color: #fafafa !important;
        font-weight: 700;
        min-width: 90px;
        max-width: 90px;
        margin-bottom: 5px;
      }
    }
    .overview {
      display: none;
    }
  }
}

.detail__tv {
  &-season {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-episode {
    .p-button {
      padding: 5px 0;
      font-size: 12.5px;
      font-weight: 600;
      background-color: #424242;
      &:hover {
        background-color: rgba($color: #424242, $alpha: 0.92);
      }
      &:focus {
        background-color: rgba($color: #424242, $alpha: 0.76);
      }
      &:active {
        background-color: rgba($color: #424242, $alpha: 0.68);
      }
    }
  }
}

.detail__box {
  background-color: #1C1C1C;
}

.detail__credits {
  .col-4 {
    padding-top: 5px;
    padding-bottom: 5px;
    .credit__card {
      &-image {
        --bs-aspect-ratio: 150%;
        img {
          object-fit: cover;
        }
      }
      &-content {
        .name {
          font-size: 16px;
          font-family: $title-font;
          font-weight: 600;
        }
        .character, .job {
          color: $text-secondary-color !important;
          font-size: 13.5px;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.detail__videos {
  .video__item {
    padding-top: 5px;
    padding-bottom: 5px;
    .video__image {
      cursor: pointer;
      object-fit: cover;
      transition: opacity 0.2s;
      &:hover, &:focus {
        opacity: 0.7;
      }
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .detail__info {
    &-content {
      li {
        p {
          min-width: 70px;
          max-width: 70px;
        }
      }
      .overview {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .detail__info {
    &-content {
      li {
        font-size: 14px;
      }
    }
  }
  .credit__card-content {
    .name {
      font-size: 14px !important;
    }
    .character, .job {
      font-size: 12px !important;
    }
  }
}
