$title-font: 'Source Sans Pro', Arial, sans-serif;
$text-secondary-color: #AFAFAF;

@mixin mt-mb-d5r {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list {
  ul {
    list-style-type: none;
    li {
      @include mt-mb-d5r;
      .media {
        overflow: hidden;
        &.view--details {
          height: 294px;
        }
        &.view--simple {
          height: 140px;
          background-color: #212121;
          transition: background-color 0.2s;
          &:hover {
            background-color: #424242;
          }
          .media__title {
            font-size: 20px;
          }
          .media__info p {
            font-size: 15px;
          }
        }
        &:hover {
          .media__background {
            filter: brightness(45%) blur(5px);
            background-color: #424242;
          }
        }
        &__background {
          background-color: #212121;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          filter: brightness(35%) blur(7px);
          width: 105%;
          height: 105%;
          z-index: -1;
          transition: all 0.2s;
        }
        &__thumb {
          max-width: 196px;
          flex: 1 0 auto;
        }
        &__thumb--mini {
          max-width: 96px;
          flex: 1 0 auto;
        }
        &__title {
          font-family: $title-font;
          font-size: 28px;
          font-weight: 700;
          span {
            font-weight: 400;
          }
        }
        &__overview {
          line-height: 1.4em;
          max-height: 7em;
        }
        &__info p {
          color: $text-secondary-color !important;
          font-size: 17px;
          &:not(:last-child) {
            margin-bottom: 0.5px !important;
          }
        }
      }
    }
  }
}

.view--default {
  .row {
    .col-6 {
      @include mt-mb-d5r;
      .media {
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.7;
        }
        &__info small {
          color: $text-secondary-color;
        }
        &__title {
          font-family: $title-font;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .list {
    .media {
      &__title {
        font-size: 18.5px !important;
      }
      &__info p {
        font-size: 14px !important;
      }
      &__overview {
        font-size: 14px;
        max-height: 55%;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .list {
    .media {
      &.view--details {
        height: 204px !important;
      }
      &__thumb {
        max-width: 136px !important;
      }
      &__title {
        font-size: 16px !important;
      }
      &__info p {
        font-size: 14px !important;
      }
      &__overview {
        display: none;
      }
    }
  }
  .view--default {
    .row {
      .col-6 {
        .media {
          &__info small {
            font-size: 0.775em;
          }
          &__title {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 319px) {
  .list {
    .media {
      &.view--details {
        height: 168px !important;
      }
      &__thumb {
        max-width: 100px !important;
      }
      &__title {
        font-size: 13px !important;
      }
      &__info p {
        font-size: 12px !important;
      }
    }
  }
  .view--default {
    .row {
      .col-6 {
        .media {
          &__info small {
            font-size: 0.675em;
          }
          &__title {
            font-size: 14px;
          }
        }
      }
    }
  }
}
