.navbar-hidden {
  top: -80px;
  opacity: 0;
}

.navbar {
  padding: 0.75rem 1rem;
  background-color: transparent;
  transition: background-color 0.2s, top 0.2s, opacity 0.25s ease-in;
  .navbar-brand {
    img {
      width: 120px;
    }
  }
  .nav-item {
    .nav-link {
      color: #d1d0cf;
      &:hover {
        color: #b3b3b3;
      }
    }
    .dropdown-menu {
      background-color: #141414;
      .dropdown-item {
        color: #d1d0cf;
        &:hover {
          background-color: transparent;
          color: #b3b3b3;
        }
      }
    }
  }
  .navbar-toggler {
    .navbar-toggler-icon {
      color: #ffffff;
    }
  }
}

:host ::ng-deep {
  .input__search {
    input[type=text] {
      background-color: rgba($color: #1e1e1e, $alpha: 0.4);
    }
  }
}
