<header>
  <nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'fixed-top': isDynamicNavbar, 'bg-dark': !isDynamicNavbar}">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">
        <img src="assets/img/logo-text.png" alt="">
      </a>
      <button class="navbar-toggler" (click)="onExpandMenu()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tv">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movie">Movies</a>
          </li>
        </ul>
        <div class="input__search d-flex">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText class="p-inputtext-sm h-100" placeholder="Search">
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
