<div *ngIf="!isPlayable" class="spinner--center">
  <p-progressSpinner></p-progressSpinner>
</div>
<section id="video__player">
  <div class="player position-relative">
    <div *ngIf="isPlayable" plyr plyrTitle="Media playback" [plyrSources]="videoSources" [plyrOptions]="videoOptions" (plyrControlsShown)="showControls = true" (plyrControlsHidden)="showControls = false" (plyrEnded)="nextEpisode()"></div>
    <div class="player__controls position-absolute top-0 start-0 end-0" [class.hide__controls]="!showControls">
      <button pButton type="button" icon="pi pi-arrow-left" class="player__return p-button-text position-absolute start-0" (click)="back()"></button>
      <button *ngIf="episode" pButton type="button" icon="pi pi-list" class="player__select p-button-text position-absolute end-0" (click)="displaySidebar = true"></button>
    </div>
    <p-sidebar [(visible)]="displaySidebar" position="right">
      <div *ngIf="!media" class="spinner--center">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div *ngIf="media && media.tvShow" class="container-fuild mx-2">
        <div *ngIf="currentEpisode" class="playing__info">
          <h3 class="fw-bold mb-2">Now Playing</h3>
          <div class="episode br-5px px-3 py-3 d-flex">
            <div class="episode__image ratio ratio-16x9">
              <img *ngIf="currentEpisode.stillPath" [src]="currentEpisode.stillPath" [alt]="currentEpisode.name || 'Episode image'">
              <img *ngIf="!currentEpisode.stillPath" class="br-2px" src="assets/img/episode-image-md.png" alt="Episode image">
            </div>
            <div class="episode__info">
              <p class="mb-2 fw-bold episode__name">{{currentEpisode.episodeNumber}}. {{currentEpisode.name || ''}}</p>
              <p class="mb-0 episode__overview">{{currentEpisode.overview || ''}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="media.tvShow.seasons.length" class="seasons mt-2">
          <p-tabView>
            <ng-container *ngFor="let seasonItem of media.tvShow.seasons; let index = index; trackBy: trackMedia">
              <p-tabPanel [header]="seasonItem.seasonNumber | i18nPlural: seasonName">
                <p *ngIf="!media.tvShow.seasons[index].episodes.length" class="text-center">No episodes available</p>
                <div *ngIf="media.tvShow.seasons[index].episodes.length" class="episodes">
                  <ng-container *ngFor="let episodeItem of media.tvShow.seasons[index].episodes; trackBy: trackMedia">
                    <a [routerLink]="[]" [queryParams]="{s: seasonItem.seasonNumber, e: episodeItem.episodeNumber}" (click)="displaySidebar = false">
                      <div class="episode episode__link br-5px px-3 py-3 d-flex">
                        <div class="episode__image ratio ratio-16x9">
                          <img *ngIf="episodeItem.stillPath" [lazyLoad]="episodeItem.stillPath" [defaultImage]="episodeItem.stillPath + '&w=48&h=48'" [alt]="episodeItem.name || 'Episode image'">
                          <img *ngIf="!episodeItem.stillPath" class="br-2px" lazyLoad="assets/img/episode-image-md.png" defaultImage="assets/img/episode-image-sm.png" alt="Episode image">
                        </div>
                        <div class="episode__info">
                          <p class="mb-2 fw-bold episode__name">{{episodeItem.episodeNumber}}. {{episodeItem.name || ''}}</p>
                          <p class="mb-0 episode__overview">{{episodeItem.overview || ''}}</p>
                        </div>
                      </div>
                    </a>
                  </ng-container>
                </div>
              </p-tabPanel>
            </ng-container>
          </p-tabView>
        </div>
      </div>
    </p-sidebar>
  </div>
</section>
