$form-bg: #1e1e1e;
$form-bs-color: #333333;

.form {
  max-width: 500px;
  background-color: $form-bg;
  //box-shadow: 0 0 0 1px $form-bs-color;
  &__group {
    padding: 32px;
  }
  &__control {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__error {
    height: 18px;
    small {
      font-size: 70%;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}
