<div class="d-flex flex-wrap justify-content-end m-gap-2">
  <p-dropdown [options]="genreOptions" [ngModel]="selectedGenre" placeholder="Genre" scrollHeight="300px" (onChange)="filterBy($event)"></p-dropdown>
  <p-dropdown [options]="sortOptions" [ngModel]="selectedSort" placeholder="Sort by" scrollHeight="300px" (onChange)="sortBy($event)"></p-dropdown>
  <span class="p-buttonset">
    <button pButton pRipple icon="pi pi-th-large" class="p-button-outlined p-button-sm" (click)="changeView(0)"></button>
    <button pButton pRipple icon="pi pi-image" class="p-button-outlined p-button-sm" (click)="changeView(1)"></button>
    <button pButton pRipple icon="pi pi-bars" class="p-button-outlined p-button-sm" (click)="changeView(2)"></button>
  </span>
</div>
