$badge-color: #6c757d;
$genre-color: #AFAFAF;
$title-font: 'Source Sans Pro', Arial, sans-serif;

:host::ng-deep {
  .featured__badges {
    .p-badge {
      background: $badge-color !important;
    }
  }
}

.featured {
  height: 100vh;
  min-height: 100vh;
  &__bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(40%);
    position: absolute;
    z-index: -1;
  }
  &__genres {
    font-size: 14px;
    color: $genre-color !important;
  }
  .row {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 45px;
    font-weight: 700;
    font-family: $title-font;
  }
}

@media only screen and (max-width: 767px) {
  .featured {
    h1 {
      font-size: 38px;
    }
    &__overview {
      display: none;
    }
    &__actions {
      .btn__play, .btn__details {
        margin-top: 0.5em;
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .featured {
    h1 {
      text-align: center;
      font-size: 36px;
    }
    &__badges {
      justify-content: center;
    }
    &__genres {
      text-align: center;
    }
    &__actions {
      text-align: center;
      .btn__play, .btn__details {
        margin-left: 0;
        font-size: 20px;
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 319px) {
  .featured {
    h1 {
      font-size: 32px;
    }
    &__actions {
      .btn__play, .btn__details {
        font-size: 18px;
      }
    }
  }
}
