$badge-color: #6c757d;
$title-font: 'Source Sans Pro', Arial, sans-serif;

:host ::ng-deep {
  .featured__top-badges {
    .p-badge {
      background: $badge-color !important;
    }
  }
}

.featured__top {
  height: 100vh;
  min-height: 100vh;
  &-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
  &-genres {
    font-size: 14px;
  }
  .row {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: $title-font;
  }
}

@media only screen and (max-width: 767px) {
  .featured__top {
    h1 {
      font-size: 38px;
    }
    &-overview {
      display: none;
    }
    &-actions {
      .btn__play, .btn__details {
        margin-top: 0.5em;
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .featured__top {
    h1 {
      text-align: center;
      font-size: 36px;
    }
    &-badges {
      justify-content: center;
    }
    &-genres {
      text-align: center;
    }
    &-actions {
      text-align: center;
      .btn__play, .btn__details {
        margin-left: 0;
        font-size: 20px;
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 319px) {
  .featured__top {
    h1 {
      font-size: 32px;
    }
    &-actions {
      .btn__play, .btn__details {
        font-size: 18px;
      }
    }
  }
}
