:host::ng-deep {
  .p-paginator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .p-paginator-first, .p-paginator-prev, .p-paginator-page, .p-paginator-next, .p-paginator-last {
      min-width: 2.5rem;
      height: 2.5rem;
    }
  }
}
