/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
  }
  &::-webkit-scrollbar-thumb {
    background: #646464;
  }
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  background-color: #121212;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

img:focus, a:focus {
  outline: none;
}

.p-inputtext.ng-invalid.ng-touched {
  border-color: #f44435;
}

.p-float-label > .ng-invalid.ng-touched + label {
  color: #f44435;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white !important;
}

a {
  text-decoration: none !important;
}

.btn, input {
  box-shadow: none !important;
}

.br-2px {
  border-radius: 2px;
}

.br-5px {
  border-radius: 5px;
}

.pl-2r {
  padding-left: 2rem;
}

.pr-2r {
  padding-right: 2rem;
}

.m-0 {
  margin: 0;
}

.mt-4r {
  margin-top: 4rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-10px {
  margin-top: 10px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-10px {
  margin-left: 10px;
}

.mb-3px {
  margin-bottom: 3px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-6px {
  margin-bottom: 6px;
}

.spinner--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  margin-top: 90px;
  margin-bottom: 60px;
}

.m-gap-2 > * {
  margin-bottom: .5rem;
  &:not(:last-child) {
    margin-right: .5rem;
  }
}

.m-gap-1 > * {
  margin-bottom: .25rem;
  &:not(:last-child) {
    margin-right: .25rem;
  }
}
