/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  background-color: #121212;
}

img:focus, a:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white !important;
}

a {
  text-decoration: none !important;
}

.btn, input {
  box-shadow: none !important;
}

.br-2px {
  border-radius: 2px;
}

.pl-2r {
  padding-left: 2rem;
}

.pr-2r {
  padding-right: 2rem;
}

.m-0 {
  margin: 0;
}

.mt-4r {
  margin-top: 4rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-10px {
  margin-top: 10px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-10px {
  margin-left: 10px;
}

.mb-5px {
  margin-bottom: 5px;
}

.spinner__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 35px;
}
