/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  background-color: #121212;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white !important;
}

a {
  text-decoration: none !important;
}

.btn, input {
  box-shadow: none !important;
}

.pl-2r {
  padding-left: 2rem;
}

.pr-2r {
  padding-right: 2rem;
}

.mt-4r {
  margin-top: 4rem;
}

.mt-10px {
  margin-top: 10px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-12px {
  margin-left: 12px;
}
