@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

#dashboard__top {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.featured__top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  min-height: 90vh;
  .row {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Source Sans Pro', Arial, sans-serif;
  }
}

.btn-play {
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
  }
  &:active {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }
}

.btn-details {
  background-color: rgba(109, 109, 110, 0.7);
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  &:hover {
    background-color: rgba(109, 109, 110, 0.4);
  }
  &:active {
    background-color: rgba(109, 109, 110, 0.3);
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 449px) {
  .featured__top {
    height: 100%;
    h1 {
      margin-top: 5rem;
      text-align: center;
      font-size: 28px;
    }
    p {
      max-height: 50vh;
      overflow: auto;
    }
    .badge-area {
      justify-content: center;
    }
    .btn-play, .btn-details {
      display: block;
      font-size: 22px;
      margin: 0.4em auto;
    }
  }
}

@media only screen and (max-width: 319px) {
  .featured__top {
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
    .btn-play, .btn-details {
      font-size: 18px;
    }
  }
}
