<section id="dashboard__top">
  <div class="container-fluid">
    <div class="featured__top" style="background-image: url(https://www.themoviedb.org/t/p/original/ggpak76jbId0C6BQBYnhMuo3q0v.jpg);">
      <div class="row align-items-center h-100">
        <div class="col-xl-7 col-lg-12 col-md-12">
          <h1>Spider-Man 3 - The Spider Sword</h1>
          <div class="d-flex align-items-center badge-area">
            <span class="badge bg-secondary badge-age">13+</span>
            <span class="badge bg-secondary badge-duration ml-5px">138 min</span>
          </div>
          <p class="mt-10px">The seemingly invincible Spider-Man goes up against an all-new crop of villains—including the
            shape-shifting Sandman. While Spider-Man’s superpowers are altered by an alien organism, his alter ego,
            Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.The seemingly
            invincible Spider-Man goes up against an all-new crop of villains—including the
            shape-shifting Sandman. While Spider-Man’s superpowers are altered by an alien organism, his alter ego,
            Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.</p>
          <div class="r-mb-23">
            <a routerLink="#" class="btn btn-hover pl-2r pr-2r btn-play">Play</a>
            <a routerLink="#" class="btn btn-link pl-2r pr-2r ml-12px btn-details">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
