<section id="dashboard-slider">
  <div class="container-fluid">
    <div id="dashboard-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#dashboard-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#dashboard-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#dashboard-carousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner h-100">
        <div class="carousel-item active" data-bs-interval="10000" style="background-image: url(https://www.themoviedb.org/t/p/original/ggpak76jbId0C6BQBYnhMuo3q0v.jpg);">
          <div class="row align-items-center h-100">
            <div class="col-xl-7 col-lg-12 col-md-12">
              <h1 class="text-uppercase">Spider-Man 3</h1>
              <div class="d-flex align-items-center">
                <span class="badge">18+</span>
                <span class="ml-3">1 Seasons</span>
              </div>
              <p>The seemingly invincible Spider-Man goes up against an all-new crop of villains—including the
                shape-shifting Sandman. While Spider-Man’s superpowers are altered by an alien organism, his alter ego,
                Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.</p>
              <div class="d-flex align-items-center r-mb-23">
                <a routerLink="#" class="btn btn-hover pl-2r pr-2r btn__play">Play Now</a>
                <a routerLink="#" class="btn btn-link pl-2r pr-2r ml-12px btn__details">More details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000" style="background-image: url(https://www.themoviedb.org/t/p/original/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg);">
          <div class="row align-items-center h-100">
            <div class="col-xl-7 col-lg-12 col-md-12">
              <h1 class="text-uppercase">The Lord of the Rings: The Fellowship of the Ring</h1>
              <div class="d-flex align-items-center">
                <span class="badge">18+</span>
                <span class="ml-3">1 Seasons</span>
              </div>
              <p>Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his
                home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is
                formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom,
                the only place where it can be destroyed.</p>
              <div class="d-flex align-items-center r-mb-23">
                <a routerLink="#" class="btn btn-hover pl-2r pr-2r btn__play">Play Now</a>
                <a routerLink="#" class="btn btn-link pl-2r pr-2r ml-12px btn__details">More details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000" style="background-image: url(https://www.themoviedb.org/t/p/original/w1hQlA8VYeAgrPNujAYcnm7mdIT.jpg);">
          <div class="row align-items-center h-100">
            <div class="col-xl-7 col-lg-12 col-md-12">
              <h1 class="text-uppercase">Pirates of the Caribbean: The Curse of the Black Pearl</h1>
              <div class="d-flex align-items-center">
                <span class="badge">18+</span>
                <span class="ml-3">1 Seasons</span>
              </div>
              <p>Jack Sparrow, a freewheeling 18th-century pirate, quarrels with a rival pirate bent on pillaging Port
                Royal. When the governor's daughter is kidnapped, Sparrow decides to help the girl's love save her.</p>
              <div class="d-flex align-items-center r-mb-23">
                <a routerLink="#" class="btn btn-hover pl-2r pr-2r btn__play">Play Now</a>
                <a routerLink="#" class="btn btn-link pl-2r pr-2r ml-12px btn__details">More details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#dashboard-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#dashboard-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>
