<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <div class="logo"><a href="#"><img src="/assets/img/logo-lg.png" alt="footer-logo"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet vitae mi ac feugiat. Nulla facilisi. Fusce elementum mi a sem eleifend facilisis vel ut enim. Nam ac neque non urna porttitor commodo.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget pl-5">
          <h3>Information</h3>
          <ul class="list">
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/services">Project</a></li>
            <li><a routerLink="/services">Hosting</a></li>
            <li><a routerLink="/exchangerate">Repository</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <h3>Support</h3>
          <ul class="list">
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/security-policy">Privacy</a></li>
            <li><a routerLink="/policy">Term of Use</a></li>
            <li><a routerLink="/contact">Help center</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <h3>Contact</h3>
          <ul class="footer-contact-info">
            <li><span class="mr-1">Address: </span>135 Lorem, ipsum, dolor, sit amet</li>
            <li><span class="mr-1">Email: </span>admin@whitefoo.com</li>
            <li><span class="mr-1">Phone: </span>(+84) 1234567890</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <p>2021 Kam Corp &copy; All Rights not Reserved</p>
  </div>
</footer>
