footer {
  padding-top: 80px;
  background-color: #070d13;
  position: relative;
  .copyright-area {
    border-top: 1px solid #192129;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    p {
      color: #e4e4e4;
    }
  }
  .single-footer-widget {
    margin-bottom: 30px;
    a {
      color: #212529;
    }
    .logo {
      img {
        width: 200px;
      }
    }
    h3 {
      position: relative;
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid #192129;
      color: #ffffff;
      font-size: 24px;
      &:before {
        content: "";
        background: #e50914;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1.2px;
        width: 45px;
      }
    }
    .list {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      li {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 300;
        a {
          color: #e4e4e4;
          display: inline-block;
          transition: all 0.2s;
          &:hover {
            color: #b3b3b3;
          }
        }
      }
    }
    .footer-contact-info {
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
      li {
        position: relative;
        color: #e4e4e4;
        margin-bottom: 8px;
        line-height: 1.7;
        font-size: 15px;
        font-weight: 300 span {
          display: inline-block;
          font-weight: 400;
        }
      }
    }
    .logo {
      p {
        margin-top: 20px;
        margin-bottom: 0;
        color: #e4e4e4;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer-area {
    .pl-5 {
      padding-left: 0 !important;
    }
  }
}
