<div class="spinner--center" *ngIf="!(mediaList && featuredShow)">
  <p-progressSpinner></p-progressSpinner>
</div>
<section id="movies" *ngIf="(mediaList && featuredShow)">
  <app-featured [media]="featuredShow"></app-featured>
  <div class="container content" id="page">
    <div class="page__content">
      <h3 class="fw-bold">Movies</h3>
      <app-media-filter [selectedGenre]="selectedGenre" [selectedSort]="selectedSort" [selectedView]="selectedView" (newViewMode)="selectedView = $event"></app-media-filter>
      <app-media-list [mediaList]="mediaList" [itemLimit]="itemLimit" [viewMode]="selectedView" [loading]="pageLoading"></app-media-list>
      <p-paginator class="d-flex justify-content-center" [first]="pageFirst" [rows]="itemLimit" [totalRecords]="mediaList.totalResults" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</section>
